.case-status {
  padding: .3em .8em .2em;
  margin: -.06em 0;
  color: $grey-2;
  border: 3px solid;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  font-weight: normal;

  &.authorised,
  &.part_authorised {
    color: #85994b;
  }

  &.draft,
  &.submitted,
  &.allocated,
  &.redermination {
    color: #28a197;
  }

  &.refused,
  &.rejected {
    color: #df3034;
  }
}
