.global-nav {
  @include clearfix;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.1;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 -.3em .1em;
  }

  li {
    float: left;
    padding: 0 .3em;
  }

  a {
    padding: .3em .2em .2em;
    margin: -.3em 0 -.2em;
    display: block;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }

  a:focus {
    background: none;
  }
}

.global-nav-menu {
  font-size: 1.4rem;
  float: left;

  li {
    border-right: 1px solid $grey-3;

    &:last-child {
      border: 0;
    }

    &.active a {
      color: black;
      text-decoration: underline;
    }
  }

  a {
    text-decoration: none;
    color: $link-colour;

    &:hover {
      text-decoration: underline;
    }
  }
}

ul.global-nav-user {
  float: right;
  margin-top: .25em;
  font-size: .9em;

  li {
    border-left: 1px solid $grey-3;

    &:first-child {
      border: 0;
    }
  }

  a {
    color: $black;
  }
}
