.global-nav {
  @include clearfix;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 15px;
  line-height: 1.1;

  a {
    padding: 0 .3em;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }

  a:focus {
    background: none;
  }
}

.global-nav-menu {
  list-style: none;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  float: left;

  li {
    display: inline-block;
    border-right: 1px solid $grey-3;
    padding-right: .3em;
    margin-right: .3em;

    &:last-child {
      border: 0;
    }
  }

  a {
    text-decoration: none;
    color: $link-colour;

    &:hover {
      text-decoration: underline;
    }
  }
}

.global-nav-user {
  list-style: none;
  float: right;
  margin-top: 2px;
  padding: 0;
  margin: 4px 0 0;
  font-size: .9em;

  li {
    display: inline-block;
    margin-left: .4em;
    padding-left: .4em;
    border-left: 1px solid $grey-3;

    &:first-child {
      border: 0;
    }
  }

  a {
    color: $black;
  }
}
