#messages {
  font-size: 1rem;
  margin: 10px 0;

  .messages-screen {
    margin: 0;
    padding: 10px;
    list-style: none;
    height: 400px;
    overflow: auto;
    background: $grey-4;

    h3 {
      margin: 10px;
    }
  }

  .messages-message {
    margin: 20px 30% 10px 0;

    &.advocate {
      margin-left: 30%;
      margin-right: 0;

      .message-body {
        background: #a6c9f0;
      }
    }
  }

  .message-body {
    background: $grey-3;
    padding: 10px;
    border-radius: 4px;
  }

  .message-meta {
    overflow: hidden;
    margin-top: .3em;
    font-size: .9em;
    color: $grey-1;

    .message-author {
      float: left;
    }

    .message-date {
      float: right;
    }
  }

  .messages-input {
    margin: 4px 0 0;
    padding: 10px;
    background: $grey-2;

    input {
      width: 100%;
      border-color: $grey-1;
    }
  }
}
