.summary {
  border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
  box-shadow: 0 5px 0 lighten($grey-3, 5), 0 -5px 0 lighten($grey-3, 5);
  margin: 20px 0;
  padding: 20px 25px;

  h1 {
    margin: 0;

    span {
      display: inline-block;
    }
  }

  .column-two-thirds {
    padding: 20px 15px;
    margin: -20px 0;
    border-right: 4px solid lighten($grey-3, 5);
    margin-right: -4px;
  }

  .case-status {
    margin: -.25em 0;
    font-size: .8em;
  }

  .summary-details,
  .import-claim {
    margin-top: 20px;
  }

  .get-started {
    border-left: 4px solid lighten($grey-3, 5);
    padding: 20px;
    margin: -20px 0;
  }

  .import-claim {
    text-align: left;

    &.no-file-selected .upload,
    &.no-file-selected .file-upload-name {
      display: none;
    }

    label {
      margin: 0 0 10px;
      display: block;
      font-weight: bold;
    }

    .file-upload-name {
      display: block;
      margin: -5px 0 10px;
    }

    input {
      @include visually-hidden;
    }
  }
}
