.summary {
  border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
  box-shadow: 0 5px 0 lighten($grey-3, 5), 0 -5px 0 lighten($grey-3, 5);
  padding: 30px 0;

  h1 {
    margin: 0;

    span {
      display: inline-block;
    }
  }

  .summary-details,
  .import-claim {
    margin-top: 20px;
  }

  .summary-title,
  .summary-value {
    font-weight: bold;
    font-size: 1.2em;
  }

  .summary-value {
    font-size: 1.7em;
  }

  .get-started {
    border-left: 4px solid $grey-3;
  }

  .import-claim {
    text-align: left;

    &.no-file-selected .upload,
    &.no-file-selected .file-upload-name {
      display: none;
    }

    label {
      margin: 0 0 10px;
      display: block;
      font-weight: bold;
    }

    .file-upload-name {
      display: block;
      margin: -5px 0 10px;
    }

    input {
      @include visually-hidden;
    }
  }
}
