.summary-block {
  margin: 0;

  dt {
    font-size: 1.1rem;
    display: block;
    color: $grey-1;
  }

  dd {
    font-size: 1.8rem;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    vertical-align: top;
    display: block;
    font-weight: bold;

    ul {
      margin: 0;
    }
  }

  .summary-more {
    font-weight: normal;
    font-size: .8em;
    margin-top: .3em;
  }

  .summary-block-title {
    font-weight: bold;
    font-size: 2rem;

    & + .case-status {
      margin-left: .7em;
    }
  }

  // & + .summary-block {
  //   margin-top: 5px;
  // }
}
