.tabs {
  list-style: none;
  padding: 0px;
  margin: 20px 0;
  display: table;
  width: 100%;
  border-bottom: 1px solid $grey-2;

  .tab {
    float: left;
    margin: 0 -2px -1px 0;
    padding: 5px;
    border: 1px solid transparent;
    border-bottom: 0;
    position: relative;

    &:not(.active):after {
      content: '';
      position: absolute;
      width: 1px;
      background: $grey-3;
      bottom: 0;
      right: 0;
      top: 30%;
      background: linear-gradient(to top, rgba(black, .15), transparent);
    }

    &:last-child:after {
      content: none;
    }
  }

  .tab.active {
    position: relative;
    border-color: $grey-2;
    background: white;

    a {
      background: none;
    }
  }

  .tab a {
    text-decoration: none;
    display: block;
    color: $text-colour;
    background: $grey-3;
    padding: .4em .7em .3em;
  }
}
