// All components
@import 'govuk';

@import 'global-nav';
@import 'summary';
@import 'tabs';
@import 'toolbar';
@import 'cases';
@import 'case-status';
@import 'summary-block';
@import 'messages';
@import 'case-details';

@include keyframes(reveal) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

table tr:nth-child(even) {
  th,
  td {
    background: $grey-4;
  }
}
